.btn
  display: inline-block
  font-weight: 400
  font-size: 16px
  letter-spacing: 0.07em
  text-transform: uppercase
  color: #ffffff
  position: relative
  cursor: pointer
  touch-action: manipulation
  border: 1px solid transparent
  background-image: none
  white-space: nowrap
  user-select: none
  padding: 0
  &:before
    content: ''
    display: inline-block
    position: absolute
    bottom: 8px
    opacity: 0
    left: 10px
    right: 10px
    top: 8px
    z-index: -1
    border-radius: 2em
    filter: blur(14px) brightness(0.9)
    transform-style: preserve-3d
    transition: all 0.3s ease-out
  i
    margin-top: -2px
    font-size: 1.265em
    vertical-align: middle
  span
    display: inline-block
    padding: 10px 15px
    border-radius: 3px
    position: relative
    z-index: 2
    will-change: transform, filter
    transform-style: preserve-3d
    transition: all 0.3s ease-out
  &:hover
    text-decoration: none
    span
      filter: brightness(.9) contrast(1.2)
      transform: scale(1)
    &:before
      bottom: -5px
      opacity: 1
      filter: blur(16px)
  &:active
    span
      filter: brightness(1) contrast(1)
      transform: scale(1)
      transition: all 0.2s ease-out
    &:before
      bottom: 0
      filter: blur(5px) brightness(0.85)
      transition: all 0.2s ease-out
  &-primary
    span, &:before
      btnGradientBg(180deg, lighten($color-theme, 10%), $color-theme)
    span
      &:hover
        btnGradientBg(120deg, lighten($color-theme, 10%), $color-theme)
