.gitment-root-container
  margin-top: 25px
.gitment-comments-list
  margin-left: 0 !important
  margin-bottom: 38px !important
  list-style: none !important
.gitment-editor-submit, .gitment-comments-init-btn
  background-color: $color-theme
  &:hover
    background-color: darken($color-theme, 10%)