.label
  align-items: center
  background-color: $color-background
  border-radius: 290486px
  display: inline-flex
  font-size: 14px
  height: 24px
  justify-content: center
  line-height: 24px
  padding-left: 10px
  padding-right: 10px
  white-space: nowrap
  &-sp3
    margin-left: 3px
    margin-right: 3px
  &-primary
    background-color: $color-theme
    color: #fff
  &-danger
    background-color: $color-danger
    color: #fff
  &-info
    background-color: $color-info
    color: #fff
  &-success
    background-color: $color-success
    color: #fff