.notice
  background-color: $color-background
  border-radius: 3px
  position: relative
  padding: 15px 35px 15px 20px
  font-weight: 400
  > .delete
    position: absolute
    right: 0.5em
    top: 0.5em
  &-primary
    background-color: $color-theme
    color: #fff
  &-danger
    background-color: $color-danger
    color: #fff
  &-info
    background-color: $color-info
    color: #fff
  &-success
    background-color: $color-success
    color: #fff
    